html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/* site.css */

/* Add your CSS styles here */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

header {
  color: #fff;
  padding: 10px;
}

/* site.css or webApplication.styles.css */
.navbar-custom {
  background-color: #E8E8E8;
}

.navbar-custom .navbar-brand {
  color: #FC814A;
  font-weight: bold;
}

.navbar-custom .nav-link {
  color: #666666;
  font-weight: bold;
}

.navbar-custom .form-control {
  font-weight: bold;
  width: 200px;
}

.navbar-custom .navbar-toggler {
  color: #96939B;
}

/* Add more CSS styles for other elements as needed */
.card {
  background-color: #1C1C1C;
  color: white;
  max-width: 300px; /* Set a max-width for the card */
  margin: 0 auto; /* This will center the card in the column */
}

.card .badge {
  background-color: #f5c518;
  color: #333;
  font-weight: bold;
}

.card .btn {
  margin-right: 5px;
  color: white;
}

.card .btn-primary {
  background-color: #4C4C4C;
  border: none;
}

.card .btn-secondary {
  background-color: #626262;
  border: none;
}

/* This ensures the image covers the top part of the card and doesn't stretch */
.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Adjust padding and margins as needed */
.card-body {
  padding: 1rem;
}

.card-title h5 {
  margin: 0;
}
