html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

header {
  color: #fff;
  padding: 10px;
}

a {
  text-decoration: none;
}

.navbar-custom {
  background-color: #E8E8E8;
}

.navbar-custom .navbar-brand {
  color: #FC814A;
  font-weight: bold;
}

.navbar-custom .nav-link {
  color: #666666;
  font-weight: bold;
}

.navbar-custom .form-control {
  font-weight: bold;
  width: 200px;
}

.navbar-custom .navbar-toggler {
  color: #96939B;
}

.card { 
  background-color: #1C1C1C; 
  color: white;
  max-width: 300px;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  height: 100%; 
}

.card .badge {
  background-color: #f5c518;
  color: #333;
  font-weight: bold;
}

.card .btn {
  margin-right: 5px;
  color: white;
}

.card .btn-primary, .card .btn-secondary {
  background-color: #1C1C1C; 
  border: none;
}

.card .btn-primary {
  background-color: #1C1C1C;
  border: none;
}

.card .btn-secondary {
  background-color: #626262;
  border: none;
}

.card-img-top {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1; 
}

.button-container {
  background-color: #1C1C1C; 
}




