@model webApplication.ViewModels.UserViewModel

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true"/>

<div class="login-container">
    <h3>Login</h3>
    <form asp-action="Login" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <i class="fas fa-user"></i>
            <input asp-for="Username" placeholder="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <i class="fas fa-lock"></i>
            <input asp-for="Password" type="password" placeholder="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">LOGIN</button>
    </form>

    <div class="signup-text">
        <p>OR</p>
        <a asp-controller="User" asp-action="Register">SIGN UP</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
